.flight {
  padding: 40px;
  color: $black;
  background-color: white;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-right: 25px;
  margin-bottom: 40px;
  display: inline-block;
  flex: 1;

  &:last-child {
    margin-right: 0;
    margin-left: 0;
  }

  h2 {
    font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
  }
  svg {
    position: relative;
    background-color: white;
    z-index: 1;
    fill: $blue;
    width: 50px;
    padding: 10px;
    margin: 0 25px;
  }

  .price {
    text-align: center;
    font-weight: 600;
    color: $blue;
    margin: 0;
  }

  .airports {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    &:after {
      z-index: 0;
      content: '';
      display: block;
      background: $light;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .airports__name {
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    &:first-child {
      padding-right: 20px;
    }
    &:last-child {
      padding-left: 20px;
      text-align: right;
    }
  }
}
