.header {
  background-color: $blue;
  height: auto;
  padding: 10% 0;
  position: relative;
  overflow: hidden;
}

.header__title {
  display: inline-block;
  color: white;
  transform: translateY(-37px);
  h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    margin: 0;
  }
  span {
    font-size: 80px;
    font-weight: 700;
    margin-top: -25px;
    display: block;
  }
}

.header__icon {
  width: 50%;
  display: block;
  margin: 0 auto;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
